*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Courier Prime", monospace;
  background: url("https://images.unsplash.com/photo-1581351123004-757df051db8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTJ8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(7px);
  min-height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      rgba(17, 17, 17, 0.1) 50%,
      rgba(13, 13, 13, 0.2) 50%
    ),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.17),
      rgba(0, 255, 0, 0.13),
      rgba(0, 0, 255, 0.3)
    );
  background-size: 100% 3px, 4px 100%;
  pointer-events: none;
}

::marker {
  color: white;
}


#MyClockDisplay {
  margin-top: 3%;
  color: crimson;
  font-family: "DS-Digital", sans-serif;
  letter-spacing: 0.3rem;
  width: 30%;
  text-shadow: 0 0 7px red, 0 0 11px red;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

/* CONTAINERS */
.add-task-container {
  display: flex;
  border: 3px solid cyan;
  width: 70%;
  margin-top: 3%;
  justify-content: center;
  box-sizing: border-box;
}
.not-done-container {
  display: flex;
  border: 3px solid green;
  width: 70%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.done-container {
  display: flex;
  border: 3px solid blueviolet;
  width: 70%;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.itemContainer {
  margin-bottom: 3%;
}

/* DIVS: */

.not-done-div {
  width: 70%;
  display: flex;
  margin: 3%;
  padding: 3%;
  flex-direction: column;
  /* align-items: center; */
}
.done-div {
  width: 70%;
  display: flex;
  margin: 3%;
  padding: 3%;
  flex-direction: column;
}

.add-task-div {
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
  width: 90%;
}

.done {
  color: white;
  text-shadow: 0 0 1px rgb(255 215 128), 0 0 3px rgb(255 176 0),
    0 0 7px rgb(255 176 0), 0 0 11px rgb(255 176 0);
}

.text-div {
  margin-bottom: 4px;
  word-break: break-word;
}

.text-priority-low {
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  margin-bottom: 4px;
}
.text-priority-medium {
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  margin-bottom: 4px;
}
.text-priority-high {
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  margin-bottom: 4px;
}

::placeholder {
  color: crimson;
  text-align: center;
  text-shadow: 0 0 7px red, 0 0 11px red;
  font-size: 1rem;
}

input {
  background-color: rgb(0, 0, 0);
  color: crimson;
  font-family: "Courier Prime", monospace;
  box-sizing: border-box;
  margin: 3%;
  padding: 3%;
  width: 70%;
  text-shadow: 0 0 7px red, 0 0 11px red;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.newListItem {
  /* word-break: break-word; */
  margin-bottom: 3%;
  white-space: pre-line;
}

.delBtn {
  display: block;
  margin-top: 4px;
}

.priority-select {
  background-color: rgb(0, 0, 0);
  color: crimson;
  font-family: "Courier Prime", monospace;
  box-sizing: border-box;
  width: 70%;
  text-shadow: 0 0 7px red, 0 0 11px red;
  text-overflow: ellipsis;
  text-align: center;
  margin: 3%;
  padding: 3%;
  font-size: 1rem;
}

.add-task-btn {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  font-size: 1rem;
  margin: 3%;
  padding: 3%;
}

button {
  background-color: teal;
  font-family: "Courier Prime", monospace;
  cursor: pointer;
}

button.add-task-btn {
  overflow: auto;
}

.not-done-header {
  color: #f0fff8;
  font-family: "Courier Prime", monospace;
  font-weight: 100;
  font-size: 2rem;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  white-space: nowrap;
  margin-bottom: 3%;
  margin-top: 3%;
}

.done-header {
  color: white;
  font-weight: 100;
  text-shadow: 0 0 1px rgb(255, 215, 128), 0 0 3px rgb(255, 176, 0),
    0 0 7px rgb(255, 176, 0), 0 0 11px rgb(255, 176, 0);
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 2rem;
}

ul {
  margin-top: 3%;
  margin-bottom: 3%;
}

/* 
≥992px
≥1200px
≥1400px 
*/

@media (min-width: 576px) {
  #MyClockDisplay {
    margin-top: 3%;
    color: crimson;
    font-family: "ds-digital";
    letter-spacing: 0.3rem;
    width: 30%;
    text-shadow: 0 0 7px red, 0 0 11px red;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .add-task-container {
    display: flex;
    border: 3px solid cyan;
    width: 70%;
    margin-top: 3%;
    justify-content: center;
    box-sizing: border-box;
  }
  .not-done-header {
    color: #f0fff8;
    font-family: "Courier Prime", monospace;
    font-weight: 100;
    font-size: 3rem;
    overflow: auto;
    text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
      0 0 11px #00ff66;
    white-space: nowrap;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .done-header {
    color: white;
    font-weight: 100;
    overflow: auto;
    text-shadow: 0 0 1px rgb(255, 215, 128), 0 0 3px rgb(255, 176, 0),
      0 0 7px rgb(255, 176, 0), 0 0 11px rgb(255, 176, 0);
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .add-task-div {
    flex-direction: row;
    margin: 3% 0 3% 0;
  }
  input,
  .priority-select,
  .add-task-btn {
    margin: 0;
  }
  input,
  .priority-select {
    width: 30%;
  }
  .add-task-btn {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .not-done-container {
    flex-direction: column;
  }
  .done-container {
    flex-direction: column;
  }
  #MyClockDisplay {
    font-size: 2rem;
  }
  ul,
  ::placeholder,
  input,
  .priority-select,
  .add-task-btn,
  button {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
