body {
  background-color: black;
  font-family: "White Rabbit";
}

.not-done-container {
  display: flex;
  justify-content: space-between;
  border: 3px solid green;
  margin: 50px 100px;
}

.not-done-header {
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
  width: 50%;
}

.not-done {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(255, 176, 0);
}

.done-container {
  display: flex;
  justify-content: center;
  border: 3px solid blueviolet;
  margin: 50px 100px;
}

.add-task-container {
  display: flex;
  border: 3px solid cyan;
  justify-content: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.done {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(255, 176, 0);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: crimson;
}

input {
  background-color: rgb(0, 0, 0);
  color: crimson;
}

button {
  background-color: teal;
  margin: 10px;
}

h1 {
  color: rgb(255, 176, 0);
  font-family: "White Rabbit";
  font-weight: 100;
  text-align: center;
  align-self: center;
}

h2 {
  color: rgb(255, 176, 0);
  text-align: center;
  align-self: center;
}

@font-face {
  font-family: "White Rabbit";
  src: url("//db.onlinewebfonts.com/t/0253e1401c58c5911902cdca02857f0e.eot");
  src: url("//db.onlinewebfonts.com/t/0253e1401c58c5911902cdca02857f0e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0253e1401c58c5911902cdca02857f0e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0253e1401c58c5911902cdca02857f0e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0253e1401c58c5911902cdca02857f0e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0253e1401c58c5911902cdca02857f0e.svg#White Rabbit")
      format("svg");
}
