body {
  display: flex;
  font-family: "Courier Prime", monospace;
  background: url("https://images.unsplash.com/photo-1581351123004-757df051db8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTJ8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  margin-bottom: 0;
  /* margin-left: 0;
  margin-right: 0;
  min-height: 100vh;  */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      rgba(17, 17, 17, 0.1) 50%,
      rgba(13, 13, 13, 0.2) 50%
    ),
      linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.17),
      rgba(0, 255, 0, 0.13),
      rgba(0, 0, 255, 0.3)
    );
  background-size: 100% 3px, 4px 100%;
  pointer-events: none;
}

::marker {
  color: white;
}

.clock {
  margin-top: 3%;
  color: crimson;
  font-size: 1.3rem;
  font-family: Orbitron;
  letter-spacing: 0.3rem;
  width: 30%;
  text-shadow: 0 0 7px red, 0 0 11px red;
  display: flex;
  justify-content: center;
}

MyClockDisplay {
    
}

/* CONTAINERS */
.add-task-container {
  display: flex;
  border: 3px solid cyan;
  width: 70%;
  margin-top: 3%;
  justify-content: center;
}
.not-done-container {
  display: flex;
  border: 3px solid green;
  width: 70%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  /* white-space: nowrap; */
}

.not-done-container-2 {
  width: 70%;
}

.done-container {
  display: flex;
  border: 3px solid blueviolet;
  width: 70%;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
  flex-direction: column;
  /* white-space: nowrap; */
}
.itemContainer {
  margin-bottom: 16px;
}

.addTask {
  display: flex;
  overflow: auto;
  padding: 1%;
  justify-content: center;
}

.done {
  color: white;
/*   text-shadow: 0 0 1px  #80dfff
, 0 0 3px deepskyblue,
    0 0 7px deepskyblue, 0 0 11px deepskyblue	; */
  text-shadow: 0 0 1px rgb(255 215 128), 0 0 3px rgb(255 176 0), 0 0 7px rgb(255 176 0), 0 0 11px rgb(255 176 0);
}

ul {
  width: 70%;
  
}

.text-div {
  margin-bottom: 4px;
}

.text-priority-low {
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  margin-bottom: 4px;
}

.text-priority-medium {
/*   color: #f0fff8;
  text-shadow: 0 0 1px rgb(255, 215, 128), 0 0 3px rgb(255, 176, 0),
    0 0 7px rgb(255, 176, 0), 0 0 11px rgb(255, 176, 0); */
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  margin-bottom: 4px;
}

.text-priority-high {
/*   color:         #f0dc82
;
  text-shadow: 0 0 1px   #f48a91

, 0 0 3px #EB212E, 0 0 7px #EB212E,
    0 0 11px #EB212E; */
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  margin-bottom: 4px;
}

::placeholder {
  color: crimson;
  text-align: center;
  text-shadow: 0 0 7px red, 0 0 11px red;
}

input {
  background-color: rgb(0, 0, 0);
  color: crimson;
  font-family: "Courier Prime", monospace;
  box-sizing: border-box;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 40%;
  text-shadow: 0 0 7px red, 0 0 11px red;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.priority-select {
  background-color: rgb(0, 0, 0);
  color: crimson;
  font-family: "Courier Prime", monospace;
  box-sizing: border-box;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 30%;
  text-shadow: 0 0 7px red, 0 0 11px red;
  margin-right: 8px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.add-task-btn {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30%;
  margin-right: 8px;
}

button {
  background-color: teal;
  font-family: "Courier Prime", monospace;
  margin: 0.7%;
}

button.add-task-btn {
  overflow: auto;
}

.not-done-header {
  color: #f0fff8;
  font-family: "Courier Prime", monospace;
  font-weight: 100;
  overflow: auto;
  text-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66,
    0 0 11px #00ff66;
  /* display: inline-table; */
  padding: 5%;
}

.done-header {
  color: white;
  font-weight: 100;
  overflow: auto;
  text-shadow: 0 0 1px rgb(255, 215, 128), 0 0 3px rgb(255, 176, 0),
    0 0 7px rgb(255, 176, 0), 0 0 11px rgb(255, 176, 0);
  /* display: inline-table; */
  padding: 5%;
}

@media (max-width: 212px) {
  .priority-select {
    flex-direction: row;
  }
}
@media (max-width: 347px) {
  .addTask {
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    
  }
  .add-task-btn {
    width: 70%;
    margin-top: 2%;
  }
  input {
    width: 70%;
  }
  .priority-select {
    width: 70%;
    margin-top: 1%;
  }
}

@media (min-width: 348px) and (max-width: 402px) {
  .add-task-btn {
    width: 79.9531px;
  }
}
@media (min-width: 348px) and (max-width: 495px) {
  .priority-select {
    flex-direction: row;
  }
}
@media (min-width: 348px) {
  .priority-select {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (min-width: 1024px) {
  .not-done-container {
    flex-direction: column;
  }
  .done-container {
    flex-direction: column;
  }
}

/* FONT SIZE CHANGES: */
/* @media (max-width: 380px) {
  .add-task-btn {
    font-size: 0.7rem;
  }
} */
/* @media (max-width: 247px) {
  .clock {
    font-size: 13.3333px;
  }
} */
@media (max-width: 347px) {
  .clock {
     font-size: 1rem; 
  }
}
@media (min-width: 381px) {
  input {
    font-size: 1rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .not-done-header {
    font-size: 3rem;
  }
  .done-header {
    font-size: 3rem;
  }
  ul {
    font-size: larger;
  }
  .clock {
    font-size: 1.7rem;
  }
}

/* This device does not work on Surface Duo when folded */